


@media screen and (max-width: 576px){
  /* NAVBAR SECTION */
   .hamburger-menu{
    display: block;
   justify-content: space-between;
   position: X 396 Y 18;
}
.menu{
    display: none;
}
.nav-btn{
    display: none;
}
.navbar{
    width:100%
    margin: 0 auto;
}

/* <!-- HERO SECTION --> */
/* .hero{
    width: 100%;
    height: 466px;
} */

.hero-content{
    flex-direction: column;
    
}
.hero{
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
 
}
.hero-content{
    left: 19%;
    bottom: 43%;
}
.mic-icon{
    left: 40%;
    bottom: 55%;
}
.text{
     left: 07%;
    bottom:25%;
    padding: 20px;

}
.btn{
    left: 27%;
    bottom: 15%;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
   font-size: 5px;
  font-weight: 12000;
  color: #3cff7a;
  margin-bottom: 8px;
}
/* CARD SECTION */
.why-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-auto-rows: 220px */
  /* gap: 30px;
  gap: 14px; */
  border: radius 28px;
  padding: 28px;
  gap: 30px;
  /* grid-auto-columns: 220px; */


 /* Featured section */
 .episodes-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

}
.host-card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.episodes-grid {
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;

}
.icon{
    /* align-items: center; */
    justify-content: center;
}
  

.host-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255,255,255,0.15);
  
   
}
.footer-container{
    background-image: url(../assets/footer-bg.png);
     width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 20px;
}
.logo-2{
    flex-direction: column;
    text-align: center;
    gap: 16px;
    font-size: 50px;
      bottom: 29%;
  left: 15%;
}
.middle{
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px 40px;
  justify-content: center;
  margin: 24px 0;
  /* position: absolute; */
  font-size: 16px;



    
}
.copyright{
    font-size: 13px;
    position: absolute;
    left: 12%;
    line-height: 0.6;
    font-size: 16px;
}
.ttt{
   font-size: 10px;
}
.whole{
    font-size: 5px;
}