/* background{
    color:#412567;
     
} */
 body{
    background-color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    
 }
 
.navbar{
    width: 1536px 92px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 16px 200px 16px 200px;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.5px;
}
.logo span {
    background: linear-gradient(90deg, #ff4ecd, #7f5bff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.menu{
    text-decoration:none;
    display: flex;
    gap: 30px;
    font-color: white;
    color: #ffffff;
    list-style: none;
   
}
.nav-btn{
    padding: 10px 26px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

    background: linear-gradient(90deg, #ff4ecd, #ff8a00, #7f5bff);
    box-shadow: 0 0 18px rgba(255, 78, 205, 0.5px);
    transition: all o.3s ease;
}
.nav-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 28px rgba(255, 138, 0, o.8,);
}
/* 
/* new hero section */
.hero{
    position: relative;
    height: 760px;
    width: 100%;
}
.hero-content{
    position: absolute;
    left: 41.5%;
    bottom: 43%;
}
.mic-icon{
    position: absolute;
     left: 49%;
    bottom: 54%;

}
.hero-btn{
    position: absolute;
    left: 57%;
    bottom: 79%;

}
.text{
    position: absolute;
    left: 38%;
    bottom: 34%;
    color: white;
    line-height: 20%;
    text-align: center;




}
.btn{
    position: absolute;
    left: 44%;
    bottom: 28%;
}

    
    .n-btn{
        background: none;
        border-radius: 30px;
        padding: 10px 15px;
        color: white;
        border-color: white;
    }
    .about-podcast {
  padding: 100px 20px;
  background: radial-gradient(circle at top, #2b0a4f, #14001f);
  text-align: center;
  color: #ffffff;
}

.about-podcast .container {
  max-width: 1100px;
  margin: 0 auto;
}

.about-podcast h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 24px;
}

.about-text {
  max-width: 820px;
  margin: 0 auto 70px;
  font-size: 16px;
  line-height: 1.8;
  color: #cfc4ff;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.stat-box h3 {
  font-size: 32px;
  font-weight: 700;
  color: #3cff7a;
  margin-bottom: 8px;
}

.stat-box span {
  font-size: 13px;
  letter-spacing: 0.8px;
  color: #b9a7ff;
  text-transform: uppercase;
}


}
