/* background{
    color:#412567;
     
} */
 *{
  border: 0px;
  padding: 0px;
  box-sizing:border-box;
  
 }
 body{
    background-color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    
 }
 .tech{
  width: 219px;
  height: 32px;
 }
 .nav-item{
  display: flex;
  justify-content: space-between;

 }
 
.navbar{
   width: 100%;
   height: 92px;
    padding: 20px 60px;
    background-color: #1A0B2E;

    
    /* background-color: #1A0B2E;
    padding: 16px 200px 16px 200px;
  
}
/* .tech{
  width: 19px;
  height: 32px;
} */

/* 
.logo{
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.5px; */
}
.logo span {
    background: linear-gradient(90deg, #ff4ecd, #7f5bff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.menu{
    text-decoration:none;
    display: flex;
    gap: 30px;
    font-color: white;
    color: #ffffff;
    list-style: none;
   
}
.nav-btn{
    padding: 10px 26px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    
    

    background: linear-gradient(90deg, #ff4ecd, #ff8a00, #7f5bff);
    box-shadow: 0 0 18px rgba(255, 78, 205, 0.5px);
    transition: all o.3s ease;
}

.nav-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 28px rgba(255, 138, 0, o.8,);
    background: #3cff7a;
}
/* 
/* new hero section */
.hero{
    position: relative;
    height: 760px;
    width: 100%;
}
.hero-content{
    position: absolute;
    left: 41.5%;
    bottom: 43%;
}
.mic-icon{
    position: absolute;
     left: 49%;
    bottom: 54%;

}
.hero-btn{
    position: absolute;
    left: 57%;
    bottom: 79%;

}
.text{
    position: absolute;
    left: 38%;
    bottom: 34%;
    color: white;
    line-height: 20%;
    text-align: center;




}
.btn{
    position: absolute;
    left: 44%;
    bottom: 28%;
}

    
    .n-btn{
        background: none;
        border-radius: 30px;
        padding: 10px 15px;
        color: #3cff7a;
        border-color: red;
        border: 2px solid red
        
    }
    .about-podcast {
  padding: 100px 20px;
  background: radial-gradient(circle at top, #2b0a4f, #14001f);
  text-align: center;
  color: #ffffff;
}

.about-podcast .container {
  max-width: 1100px;
  margin: 0 auto;
}

.about-podcast h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 24px;
}

.about-text {
  max-width: 820px;
  margin: 0 auto 70px;
  font-size: 16px;
  line-height: 1.8;
  color: #cfc4ff;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.stat-box h3 {
  font-size: 32px;
  font-weight: 700;
  color: #3cff7a;
  margin-bottom: 8px;
}

.stat-box span {
  font-size: 13px;
  letter-spacing: 0.8px;
  color: #b9a7ff;
  text-transform: uppercase;
}
.about-podcast{
    width: 100%;
}


/* WHY CHOOSE SECTION */
.why-techwave {
  padding: 110px 20px;
  background: linear-gradient(180deg, #180022, #120018);
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

/* GRID MAGIC */
.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px
  gap: 30px;
  gap: 14px;
  border: radius 28px;
  padding: 28px;
   /* background: rgba(255, 255, 255, 0.03); */
   background: #230E3D;
    border: 1px solid rgba(255,255,255,0.08);
    
}

/* CARD BASE */
.why-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 18px;
  padding: 28px;
  border: 1px solid rgba(255,255,255,0.08);
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}

.why-card img {
  width: 42px;
  height: 42px;
}

.why-card h3 {
  font-size: 18px;
  font-weight: 600;
}

.why-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cdb8ff;
}

/* BIG CARD RULE */
.why-card-1{
  grid-column: span 1;
  grid-row: span 2;
  background: linear-gradient(160deg, #2a003d, #190025);
  border-radius: 18px;
  padding: 28px;
  background: rgba(255, 255, 255, 0.03);
   border: 1px solid rgba(255,255,255,0.08);
  
}
.why-card-2{
  grid-column: span 2;
  grid-row: span 1;
  background: linear-gradient(160deg, #2a003d, #190025);
  border-radius: 18px;
  padding: 28px;
  background: rgba(255, 255, 255, 0.03);
   border: 1px solid rgba(255,255,255,0.08);

}
.why-card-3{
  grid-column: span 2;
  grid-row: span 1;
  background: linear-gradient(160deg, #2a003d, #190025);
  border-radius: 18px;
  padding: 28px;
  background: rgba(255, 255, 255, 0.03);
   border: 1px solid rgba(255,255,255,0.08);
  
}
.why-card-4{
  grid-column: span 1;
  grid-row: span 1;
  background: linear-gradient(160deg, #2a003d, #190025);
  border-radius: 18px;
  padding: 28px;
  background: rgba(255, 255, 255, 0.03);
   border: 1px solid rgba(255,255,255,0.08);
}


.why-card.big img {
  width: 52px;
  height: 52px;
}
/* Featured section */

.featured-episodes {
  padding: 100px 20px;
  background: linear-gradient(180deg, #120018, #1b0028);
  color: #fff;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card {
  /* background: rgba(255,255,255,0.04); */
  border-radius: 18px;
  padding: 16px;
  border: 1px solid rgba(255,255,255,0.08);
  background: #230E3D;
}

.video-box {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 14px;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.episode-card h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}
.mmm{
    color: #3cff7a;
}
 /* MEET SECTION */
 .meet-host {
  padding: 110px 20px;
  background: linear-gradient(180deg, #16001f, #0f0018);
  color: #ffffff;
}

.meet-host .container {
  max-width: 1100px;
  margin: 0 auto;
}

.meet-host .section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

.host-card {
  display: flex;
  align-items: center;
  gap: 40px;
  /* background: rgba(255, 255, 255, 0.04); */
  background: #230E3D;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 22px;
  padding: 40px;
}

.host-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255,255,255,0.15);
}

.host-info h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.host-info p {
  font-size: 15px;
  line-height: 1.8;
  color: #cdb8ff;
  max-width: 720px;
}
.icon{
    display: flex;
    gap: 10px;
}
.site-footer{
    position: relative;
}
.footer-brand{
    position: absolute;
    bottom: 69%;
    left: 38%;
}
.footer-socials{
    left: 50%;
}
.clock{
  display: flex;
  gap: 5px;
  align-items: center;
  
}
.ggg{
  width: 20px;
  height: 20px;
}
/* FOOTER SECTION */
.footer-container{
  background-image: url(../assets/footer-bg.png);
  height: 412px;
  width: 100%;
  position: relative;
}
.middle{
  display: flex;
  gap: 50px;
  align-items: center;
  
}
.four{
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 13px;
}
.pic{
  width: 20px;
  height: 20px;
}
.logo{
 
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 29%;
  left: 38%;
  font-size: 50px;
}
.whole{
  text-align: center;
  justify-content: center;
  color: #fafafa;
}
.copyright{
  font-size: 13px;
}
.ttt{
 width: 410px;
 height: 60px;
 font-size: 20px;
}
.tech{
  animation: logoFloat 2s ease-in-out infinite;
  height: 36px;
  will-change: transform;
}
@keyframes logoFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}